---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyBXqmviNdIvshmIX0l7njBQ3apeR3NMxvM&maxResults=1&part=snippet&q=portugal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "dcjV4YLtfSvIpbmuRPM0cIn3fko",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 23,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "VC_kMK-2Or6uiQqY7TrySQqOonA",
              "id": {
                "kind": "youtube#video",
                "videoId": "nQh6V8adGXw"
              },
              "snippet": {
                "publishedAt": "2023-01-07T00:17:39Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Portugal",
                "description": "Sources: \"A Concise History of Portugal\" (2018) by David Birmingham. Cambridge University Press, Cambridge, UK.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/nQh6V8adGXw/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/nQh6V8adGXw/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/nQh6V8adGXw/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2023-01-07T00:17:39Z"
              }
            }
          ]
        }
  recorded_at: Tue, 17 Jan 2023 13:45:49 GMT
recorded_with: VCR 6.1.0
